
<md-sidenav md-component-id="right" class="md-sidenav-right md-whiteframe-z2">
  <md-toolbar class="md-toolbar-tools">{{ctrl.itemSelected}}</md-toolbar>
  <md-content layout-padding="">
    <md-list>
      <md-list-item ng-repeat="article in ctrl.datas" class="md-3-line">
        <div class="md-list-item-text">
          <h3>{{article.title}}</h3>
          <h4><a target="_blank" ng-href="http://{{article.url}}">lien article</a></h4>
          <p ng-repeat="tag in article.tags">{{tag}}</p>
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
</md-sidenav>
<div id="graph"></div>