<section layout="column" ng-init="detail.init()" style="padding: 10px;">
    <h1>Tag : {{detail.tag}}</h1>
    <md-divider></md-divider>
    <div ng-repeat="domain in detail.domains" layout="row" layout-align="center center" style="height: 38px;margin-bottom: 10px;">
        <div flex="50">{{domain.title}}</div>
        <div flex="50">{{domain.url}}</div>
    </div>
    <md-divider></md-divider>
    <div layout="row" layout-align="center">
        <md-button md-no-ink="md-no-ink" ng-click="detail.returnToTagForm()" flex="20" class="md-raised">Retour</md-button>
    </div>
</section>