<div layout="row">
    <md-card flex style="background-color: #FFF3DF;">
        <md-card-title style="padding: 3px; color: #00826C;">
            <md-card-title-text style="padding: 5px;">
                <span class="md-headline">Connexion</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column">
            <md-input-container>
                <label style="color: #A26700;">User name</label>
                <input type="text" ng-model="login.userName">
            </md-input-container>

            <md-input-container>
                <label style="color: #A26700;">Password</label>
                <input type="password" ng-model="login.password">
            </md-input-container>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button style="background-color: #4A8077; color: white;" md-no-ink="md-no-ink" ng-click="login.login()"
                       class="md-raised" flex>
                log in
            </md-button>
        </md-card-actions>
    </md-card>
</div>