html(ng-app='datapizz')
    head
        title Datapizz
        // bower:css
        // endbower
    body
        md-toolbar(layout='row')
            h1.md-toolbar-tools(layout-align-gt-sm='left', flex='') Datapizz

        // bower:js
        // endbower

        // fileblock:js app
        // endfileblock